<h1><%= link_to "하비스트", root_path, :hidefocus => "true" %></h1>

<div class="top_actions">

	<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fexample.com%2Fpage%2Fto%2Flike&amp;layout=button_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>

	<% if logged_in? %>
		<%= link_to "로그아웃", logout_path, :class => "logout", :hidefocus => "true" %>  
		<%# link_to "계정설정", edit_user_path(@current_user.id) %> 
		<%# link_to "회원탈퇴", user_path(@current_user.id), :remote => true, :method=> :delete, :confirm => "정말 탈퇴하시겠습니까?", :class => "link" %> 
	<% else %>
		<%= link_to "로그인", login_path, :class => "login", :hidefocus => "true" %>
		<%= link_to "회원가입", new_user_path, :class => "signup", :hidefocus => "true" %>
	<% end %>

	<%= link_to "공지사항", "/sections/5/folders/9", :class => "announcement", :hidefocus => "true" %>
	<%= link_to "회사소개", "/company", :class => "company", :hidefocus => "true" %>
</div>

<%= content_tag(:div, "", :id => "main_image") if params[:controller] == "main" && params[:action] == "index" %>

<div class="sections">
	<% Section.all.each_with_index do |s, i| %>
		<div class="section">
			<%= link_to s.name, section_path(s), :hidefocus => "true", :class => "section s_#{s.id} #{"showing" if !@section.blank? && @section == s}", :onmouseover => "show_folder_container('#{s.id}')" %>

			<div id="folder_container_<%=i+1%>" class="fragile do_hide section_<%=i+1%> folder_container" style="display:none;">
				<% s.folders.sequence.each_with_index do |f,j| %>
					<%= link_to f.name, [s, f], :class => "#{"showing" if !@folder.blank? && @folder == f} folder_#{j+1}", :hidefocus => "true" %>
				<% end %>
			</div>
		</div>

	<% end %>
</div>
