<div id="rail">
	
	<% if !@section.blank? && !@folder.blank? %>
		<div class="folder_title">
			<%= link_to "", @section, :class => "ft_#{@folder.id}" %>
		</div>
	<% end %>

	<% if !@folder.blank? && @folder.has_multiple_items? %>
		<div class="sub_pages">
			<% @folder.pages.each_with_index do |pg,i| %>
				<%= link_to pg.title, [@folder.section, @folder, pg], :hidefocus => "true", :class => "sub_page f#{@folder.id}_page_#{i+1} #{"showing" if !@page.blank? && @page == pg}" %>
			<% end %>

			<% @folder.boards.each do |b| %>
				<%= link_to b.title, [@folder.section, @folder, b], :hidefocus => "true", :class => "sub_page f#{@folder.id}_board_#{i+1} #{"showing" if !@board.blank? && @board == b}" %>
			<% end %>
		</div>
	<% end %>

	<% if logged_in_as_admin? %>
		<%= form_for [@section, @section.folders.new], :remote => true, :html => { :onsubmit => "zLoading();" } do |f| %>
			<div class="hidden">
				<%= f.text_field :section_id %>
			</div>

			<div class="field">
				<%= f.text_field :name, :class => "text control_placeholder", :placeholder => "폴더이름..", :autocomplete => "off" %>
			</div>

			<div class="actions ph_child">
				<%= submit_tag("생성", :class => "zButton right") %>
			</div>
		<% end %>
	<% end %>

	<%= javascript_tag("initSortableFolders();") if logged_in_as_admin? %>

</div>
