<div>
<h2>컨퍼런스 참가 신청</h2>

<p>병원명: <%= @attrs[:hospital] %></p>
<p>진료과목 및 직책: <%= @attrs[:department] %></p>
<p>이름: <%= @attrs[:name] %></p>
<p>연락처: <%= @attrs[:phone] %></p>
<p>이메일: <%= @attrs[:email] %></p>

</div>
