<script type="text/javascript" charset="utf-8">
	document.on("dom:loaded", function() {
		var editor = WysiHat.Editor.attach('page_content');
		var toolbar = new WysiHat.Toolbar(editor);

		toolbar.addButton({ label: "Bold" });
		toolbar.addButton({ label: "Underline" });
		toolbar.addButton({ label: "Italic" });
		toolbar.addButton({ name: 'strikethrough', label: "Strike" });

		toolbar.addButton({
			label: "Block",
			handler: function(editor) { zLayer.open(editor.id, '<%= editor_path("block_selector") %>?editor_id=' + editor.id); }
		});

		toolbar.addButton({
			label: "FontColor",
			handler: function(editor) { zLayer.open(editor.id, '<%= editor_path("color_picker") %>?editor_id=' + editor.id); }
		});

		toolbar.addButton({
			label: "Left",
			handler: function(editor) { editor.alignSelection("Left"); }
		});
		toolbar.addButton({
			label: "Center",
			handler: function(editor) { editor.alignSelection("Center"); }
		});
		toolbar.addButton({
			label: "Right",
			handler: function(editor) { editor.alignSelection("Right"); }
		});

		toolbar.addButton({
			label: 'Image',
			handler: function(editor) { editor.focus(); zLayer.open(editor.id, '<%= editor_path("new_image") %>?editor_id=' + editor.id); }
		});

		// toolbar.addButtonSet(WysiHat.Toolbar.ButtonSets.Basic);

		// Hide our error message if the editor loads fine
		$('error').hide();
	});
</script>

<%= form_for [@section, @folder, @page], :html => { :class => "new", :onsubmit => "updateWHContent();" } do |f| %>

	<% if @page.errors.any? %>
		<div id="error_explanation">
			<h4><%= @page.errors.count %>개의 문제가 있습니다.</h4>

			<ul>
			<% @page.errors.full_messages.each do |msg| %>
				<li><%= msg.gsub(/^[-_a-zA-Z0-9]+\s/,'') %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="hidden">
		<%= f.hidden_field :section_id %>
		<%= f.hidden_field :folder_id %>
	</div>

	<div class="field">
		<%= f.text_field :title, :class => "text control_placeholder", :placeholder => "페이지제목..", :autocomplete => "off" %>
	</div>

	<div class="field">
		<%= f.text_area :content, :class => "text" %>
	</div>

	<div class="actions">
		<%= submit_tag("페이지만들기", :class => "zButton") %>
		<%= cancel_to %>
	</div>

<% end %>

