<%= render :partial => '/main/rail' %>

<div id="main_wrapper">
	<%= admin_actions("#{link_to_function "게시판이름변경", "zLayer.open(event, '#{edit_section_folder_board_path(@section, @folder, @board)}')", :class => "link"}") %>

	<div class="main_container">

	<div class="board">
		<h5><%= @board.title %></h5>

		<ul class="posts">
			<% if @posts.blank? && !params[:q].blank? %>
				<li class="empty">검색결과가 없습니다.</li>
			<% else %>
				<%= render @posts %>
			<% end %>
		</ul>

		<div class="toolbar">
			<%= link_to "글쓰기", new_section_folder_board_post_path(@section, @folder, @board), :class => "link" %>
			<% form_tag '', :method => :get, :class => 'search' do %>
				<div class="field">
					<%= text_field_tag :q, "", :class => "text" %>
					<%= submit_tag('검색', :class => 'izButton') %>
				</div>
			<% end %>
		</div>

		<div class="paginate">
			<%= will_paginate(@posts, :previous_label => "<", :next_label => ">") %>
		</div>

	</div>

	</div>
	<div class="main_bottom"></div>

</div>
